@import "tailwindcss";

@theme {
  --color-ansia-red: #E30613;
  --color-ansia-dark: #1A1A1A;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  background-color: var(--color-ansia-dark);
  color: white;
  margin: 0;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.8s ease-out forwards;
}